# General
.DS_Store
.idea
.vscode

# Terraform
.terraform
.terraform.lock.hcl
tf.out
crash.log

# Logs
logs

# Encryption
pgp/*
!pgp/decrypt-secrets.sh
!pgp/key-gen-template
*.gpg

# Terraformer output
.terraformer

# Node modules
node_modules